HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/checker_test_2.pdf
/checker_test_file_kr.docx
/checker_test_file_kr_ua.docx
/checker_test_file_kr_ua.pdf
/checker_test_file_kr_ua1.docx
/checker_test_file_kr_ua2.docx
/checker_test_file_kr_ua2.pdf
/DRB_test_en_UA.pdf
/DRB_test_ua_EN.pdf
/DRB_test_ua_UA.pdf
/РЕЗУЛЬТАТИ ПЕРЕВІРКИ ТЕСТ.docx
/КП_АППЗ2_2025 Мелещук 2025_05_10_ua_UA.docx
/CP_ADSW2_ExplNote_Skuratovets_KN-222b.e_20250329.docx
/Document1.docx
/КП_АППЗ2_2025 Мелещук 2025_05_13дд.docx
/Шаталова_Blue.docx
/Шаталова_Violet.docx
