<!DOCTYPE html>
<html lang="ua"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SEMIT Checker - Errors</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
          crossorigin="anonymous">
<!--    &lt;!&ndash; ✅ Новая версия — локально &ndash;&gt;-->
<!--    <link rel="stylesheet" href="/css/bootstrap.min.css">-->
</head>
<body id="checkerrorsbody">
<div class="card shadow-sm">
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h1 th:text="#{errorspage.welcome}">Перелік помилок</h1>
<!--            //Статистика, щоб повернутися на головну та її відобразити-->
            <form th:action="@{/{localeInterface}/mainpage (localeInterface=${localeInterface})}"
                  method="POST">
                <input type="hidden" name="fileForCheck" th:value="${statistic.filename}"/>
                <input type="hidden" name="localeWord" th:value="${statistic.wordLocale}"/>
                <input type="hidden" name="localeDoc" th:value="${statistic.docLocale}"/>
                <input type="hidden" name="countPages" th:value="${statistic.countPages}"/>
                <input type="hidden" name="countFigures" th:value="${statistic.countFigures}"/>
                <input type="hidden" name="countTables" th:value="${statistic.countTables}"/>
                <input type="hidden" name="countSources" th:value="${statistic.countSources}"/>
                <input type="hidden" name="countAppendixes" th:value="${statistic.countAppendixes}"/>
                <input type="hidden" name="abstractUA" th:value="${statistic.abstractUARow}"/>
                <input type="hidden" name="abstractEN" th:value="${statistic.abstractENRow}"/>
                <button class="btn btn-outline-secondary">
                    <span th:text="#{errorspage.button.back}">Повернутися</span>
                </button>
            </form>
        </div>
        <h1 th:text="${statistic.filename}"></h1>
        <br>
        <div th:switch="${openfileForCheckProblem}">
            <p th:case="true" th:text="#{errors.file_open_problem}" th:classappend="'alert alert-danger'"></p>
<!--            <p th:case="false" th:text="#{errors.errors}" th:classappend="'alert alert-danger'"></p>-->
        </div>
        <div th:switch="${noerrors}">
            <p th:case="true" th:text="#{errors.noerrors}" th:classappend="'alert alert-success'"></p>
            <p th:case="false" th:text="#{errors.errors}" th:classappend="'alert alert-danger'"></p>
        </div>
        <div th:switch="${checkingProblem}">
            <p th:case="true" th:text="#{errors.find_errors_problem}" th:classappend="'alert alert-danger'"></p>
            <!--            <p th:case="false" th:text="#{errors.errors}" th:classappend="'alert alert-danger'"></p>-->
        </div>
        <div th:each="checkResult : ${checksResults}" class="mb-4">
            <h4 class="mt-3" th:text="#{errors.checktype} + ' ' + ${checkResult.errorsType}">Тип помилки</h4>
            <table class="table table-bordered table-sm">
                <thead class="table-light">
                <tr>
                    <th th:text="#{errorspage.place}">Розділ помилки</th>
                    <th th:text="#{errorspage.explanation}">Код та текст помилки</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="err : ${checkResult.errorListReadyToShow}">
                    <td th:utext="${err.errorPlace}">Розділ</td>
                    <td th:text="${err.errorText}">Текст помилки</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

</body>
</html>