<!DOCTYPE html>
<html lang="ua"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<!--      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"-->
<head>
    <title>SEMIT Checker - Main</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body id="checkerbody">
<!-- File Upload Form -->
<div class="card shadow-sm">
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h1 th:text="#{page.welcome}">Перелік помилок</h1>
            <a th:href="@{/}" class="btn btn-outline-secondary">
                <span th:text="#{page.button.change_lang}">Change language </span>
            </a>
        </div>
        <form id="loadfileform"
                action="#"
                th:action="@{/{localeInterface}/choose-file(localeInterface=${localeInterface})}"
                method="post"
                enctype="multipart/form-data"
                th:hx-post="@{/{localeInterface}/choose-file(localeInterface=${localeInterface})}"
                hx-trigger="submit"
                hx-target="#file-list">
            <!--                    hx-swap="outerHTML">-->

            <div class="mb-3">
                <label for="file" class="form-label" th:text="#{page.choose_file}">Оберіть DOCX файл для
                    завантаження</label>
                <input type="file"
                       class="form-control"
                       id="file"
                       name="file"
                       accept=".docx"
                       required>
                <label for="locale_word" class="form-label" th:text="#{page.choose_locale_word}">Яка мова інтерфейсу
                    Word була встановлена при збереженні файлу?</label>
                <select name="localeWord" class="form-select" id="locale_word">
                    <option value="UA" th:text="#{lang.ua}">Українська</option>
                    <option value="EN" th:text="#{lang.en}">Англійська</option>
                    <option value="RU" th:text="#{lang.ru}">Харківська</option>
                </select>
                <label for="locale_doc" class="form-label" th:text="#{page.choose_locale_doc}">Яка мова
                    документу?</label>
                <select name="localeDoc" class="form-select" id="locale_doc">
                    <option value="UA" th:text="#{lang.ua}">Українська</option>
                    <option value="EN" th:text="#{lang.en}">Англійська</option>
                </select>

            </div>
            <button type="submit" class="btn btn-primary w-100" th:text="#{page.upload.name}">Завантажити</button>
        </form>

    </div>
</div>
<div class="mt-2" th:if="statistic != null ">
    <div class="invalid-feedback">
        Будь-ласка, оберіть файл DOCX !
    </div>
    <table id="statisticTable" class="table table-warning table-striped table-hover table-bordered align-middle">
        <!--            ЛОКАЛІЗАЦІЯ!!!!!!-->
        <tr>
            <td th:text="#{ref.filename}">Ім'я файлу</td>
            <td th:text="${statistic != null ? statistic.filename : ''}"></td>
        </tr>
<!--        //Версія, коли дані для вибору локалі є саме позначенням локали-->
        <tr>
            <td th:text="#{ref.wordLocale}">Мова інтерфейсу Word</td>
            <td th:text="${statistic != null ? statistic.wordLocale : ''}"></td>
        </tr>
        <tr>
            <td th:text="#{ref.docLocale}">Мова документу</td>
            <td th:text="${statistic != null ? statistic.docLocale : ''}"></td>
        </tr>
<!--        //Версія, коли дані для перевірки беруться з комбобоксів для вибору локалі-->
<!--        <tr th:if="${statistic != null}"-->
<!--            th:with="localizedNameDoc=${#messages.msgOrNull('ref.' + statistic.docLocale.toString())}">-->
<!--            <td th:text="#{ref.docLocale}">Мова документу</td>-->
<!--            <td th:text="${localizedNameDoc != null ? localizedNameDoc : ''}"></td>-->
<!--            <td hidden id="docLocaleCode" th:text="${statistic.docLocale}"></td>-->
<!--        </tr>-->
<!--        <tr th:unless="${statistic != null}">-->
<!--            <td th:text="#{ref.docLocale}">Мова документу</td>-->
<!--            <td></td>-->
<!--        </tr>-->
<!--        <tr th:if="${statistic != null}"-->
<!--            th:with="localizedNameWord=${#messages.msgOrNull('ref.' + statistic.wordLocale.toString())}">-->
<!--            <td th:text="#{ref.wordLocale}">Мова інтерфейсу Word</td>-->
<!--            <td th:text="${localizedNameWord != null ? localizedNameWord : ''}"></td>-->
<!--            <td hidden id="wordLocaleCode" th:text="${statistic.wordLocale}"></td>-->
<!--        </tr>-->
<!--        <tr th:unless="${statistic != null}">-->
<!--            <td th:text="#{ref.wordLocale}">Мова інтерфейсу Word</td>-->
<!--            <td></td>-->
<!--        </tr>-->
        <tr style="display: none;">
            <td th:text="#{ref.num_pages}">Кількість сторінок</td>
            <td th:text="${statistic != null ? statistic.countPages : ''}"></td>
        </tr>
        <tr>
            <td th:text="#{ref.num_figures}">Кількість рисунків</td>
            <td th:text="${statistic != null ? statistic.getCountFigures : ''}"></td>
        </tr>
        <tr>
            <td th:text="#{ref.num_tables}">Кількість таблиць</td>
            <td th:text="${statistic != null ? statistic.countTables : ''}"></td>
        </tr>
        <tr>
            <td th:text="#{ref.num_sources}">Кількість джерел</td>
            <td th:text="${statistic != null ? statistic.countSources : ''}"></td>
        </tr>
        <tr>
            <td th:text="#{ref.num_dodatkiv}">Кількість додатків</td>
            <td th:text="${statistic != null ? statistic.getCountAppendixes : ''}"></td>
        </tr>
        <tr>
            <td th:text="#{ref.text_ua}">Реферат</td>
            <td th:text="${statistic != null ? statistic.getAbstractUARow() : ''}"></td>
        </tr>
        <tr>
            <td th:text="#{ref.text_en}">Реферат</td>
            <td th:text="${statistic != null ? statistic.getAbstractENRow() : ''}"></td>
        </tr>
    </table>
</div>
<div class="mt-2" th:if="statistic != null ">
    <h2 th:text="#{page.checking}"></h2>
    <form id="checkForm"
          th:action="@{/{localeInterface}/check (localeInterface=${localeInterface})}"
          method="POST">
        <input type="submit" class="btn btn-primary w-100" th:value="#{check.start}"/>
    </form>
<!--    <table class="table table-warning table-striped table-hover table-bordered align-middle">-->
<!--        <tr>-->
<!--            <td th:text="#{check.full}">Повна перевірка</td>-->
<!--            <td>-->
<!--                <form th:action="@{/{localInterface}/check/total (localInterface=${localInterface})}" method="POST">-->
<!--                    <input hidden name="total"/>-->
<!--                    <input type="submit" th:value="#{check.start}"/>-->
<!--                </form>-->
<!--            </td>-->
<!--            &lt;!&ndash;            <td>&ndash;&gt;-->
<!--            &lt;!&ndash;                <form th:action="@{showfullreport}" method="POST">&ndash;&gt;-->
<!--            &lt;!&ndash;                    <input hidden name="total"/>&ndash;&gt;-->
<!--            &lt;!&ndash;                    <input type="submit" th:value="#{check.res}"/>&ndash;&gt;-->
<!--            &lt;!&ndash;                </form>&ndash;&gt;-->
<!--            &lt;!&ndash;            </td>&ndash;&gt;-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td th:text="#{check.page_param}">Параметри сторінки</td>-->
<!--            <td>-->
<!--                <form th:action="@{/check/boundaries}" method="POST">-->
<!--                    <input hidden name="boundaries"/>-->
<!--                    <input type="submit" th:value="#{check.start}"/>-->
<!--                </form>-->
<!--            </td>-->
<!--            &lt;!&ndash;            <td>&ndash;&gt;-->
<!--            &lt;!&ndash;                <form th:action="@{boundaries/show}" method="POST">&ndash;&gt;-->
<!--            &lt;!&ndash;                    <input hidden name="boundaries"/>&ndash;&gt;-->
<!--            &lt;!&ndash;                    <input type="submit" th:value="#{check.res}"/>&ndash;&gt;-->
<!--            &lt;!&ndash;                </form>&ndash;&gt;-->
<!--            &lt;!&ndash;            </td>&ndash;&gt;-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td th:text="#{check.headers}">Заголовки</td>-->
<!--            <td>-->
<!--                <form th:action="@{/check/headers}" method="POST">-->
<!--                    <input hidden name="headers"/>-->
<!--                    <input type="submit" th:value="#{check.start}"/>-->
<!--                </form>-->
<!--            </td>-->
<!--            &lt;!&ndash;            <td>&ndash;&gt;-->
<!--            &lt;!&ndash;                <form th:action="@{headers/show}" method="POST">&ndash;&gt;-->
<!--            &lt;!&ndash;                    <input hidden name="headers"/>&ndash;&gt;-->
<!--            &lt;!&ndash;                    <input type="submit" th:value="#{check.res}"/>&ndash;&gt;-->
<!--            &lt;!&ndash;                </form>&ndash;&gt;-->
<!--            &lt;!&ndash;            </td>&ndash;&gt;-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td th:text="#{check.tables}">Таблиці</td>-->
<!--            <td>-->
<!--                <form th:action="@{/check/tables}" method="POST">-->
<!--                    <input hidden name="tables"/>-->
<!--                    <input type="submit" th:value="#{check.start}"/>-->
<!--                </form>-->
<!--            </td>-->
<!--            &lt;!&ndash;            <td>&ndash;&gt;-->
<!--            &lt;!&ndash;                <form th:action="@{tables/show}" method="POST">&ndash;&gt;-->
<!--            &lt;!&ndash;                    <input hidden name="tables"/>&ndash;&gt;-->
<!--            &lt;!&ndash;                    <input type="submit" th:value="#{check.res}"/>&ndash;&gt;-->
<!--            &lt;!&ndash;                </form>&ndash;&gt;-->
<!--            &lt;!&ndash;            </td>&ndash;&gt;-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td th:text="#{check.figures}">Рисунки</td>-->
<!--            <td>-->
<!--                <form th:action="@{/check/pictures}" method="POST">-->
<!--                    <input hidden name="pictures"/>-->
<!--                    <input type="submit" th:value="#{check.start}"/>-->
<!--                </form>-->
<!--            </td>-->
<!--            &lt;!&ndash;            <td>&ndash;&gt;-->
<!--            &lt;!&ndash;                <form th:action="@{pictures/show}" method="POST">&ndash;&gt;-->
<!--            &lt;!&ndash;                    <input hidden name="pictures"/>&ndash;&gt;-->
<!--            &lt;!&ndash;                    <input type="submit" th:value="#{check.res}"/>&ndash;&gt;-->
<!--            &lt;!&ndash;                </form>&ndash;&gt;-->
<!--            &lt;!&ndash;            </td>&ndash;&gt;-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td th:text="#{check.pereliki}">Переліки</td>-->
<!--            <td>-->
<!--                <form th:action="@{/check/pereliki}" method="POST">-->
<!--                    <input hidden name="lists"/>-->
<!--                    <input type="submit" th:value="#{check.start}"/>-->
<!--                </form>-->
<!--            </td>-->
<!--            &lt;!&ndash;            <td>&ndash;&gt;-->
<!--            &lt;!&ndash;                <form th:action="@{pereliki/show}" method="POST">&ndash;&gt;-->
<!--            &lt;!&ndash;                    <input hidden name="lists"/>&ndash;&gt;-->
<!--            &lt;!&ndash;                    <input type="submit" th:value="#{check.res}"/>&ndash;&gt;-->
<!--            &lt;!&ndash;                </form>&ndash;&gt;-->
<!--            &lt;!&ndash;            </td>&ndash;&gt;-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td th:text="#{check.references}">Перелік джерел</td>-->
<!--            <td>-->
<!--                <form th:action="@{/check/references}" method="POST">-->
<!--                    <input hidden name="references"/>-->
<!--                    <input type="submit" th:value="#{check.start}"/>-->
<!--                </form>-->
<!--            </td>-->
<!--            &lt;!&ndash;            <td>&ndash;&gt;-->
<!--            &lt;!&ndash;                <form th:action="@{references/show}" method="POST">&ndash;&gt;-->
<!--            &lt;!&ndash;                    <input hidden name="references"/>&ndash;&gt;-->
<!--            &lt;!&ndash;                    <input type="submit" th:value="#{check.res}"/>&ndash;&gt;-->
<!--            &lt;!&ndash;                </form>&ndash;&gt;-->
<!--            &lt;!&ndash;            </td>&ndash;&gt;-->
<!--        </tr>-->
<!--    </table>-->
</div>
<script th:inline="javascript">
    //Код, щоб параметри, які обрані під час завантаження, були передані і в перевірку
    document.addEventListener("DOMContentLoaded", function () {
        const checkForm = document.getElementById("checkForm");
        const fileForCheck = document.getElementById("statisticTable").rows[0].cells[1].innerHTML;
        const localeWordCode = document.getElementById("statisticTable").rows[1].cells[1].innerHTML;
        const localeDocCode = document.getElementById("statisticTable").rows[2].cells[1].innerHTML;
        const countPages = document.getElementById("statisticTable").rows[3].cells[1].innerHTML;
        const countFigures = document.getElementById("statisticTable").rows[4].cells[1].innerHTML;
        const countTables = document.getElementById("statisticTable").rows[5].cells[1].innerHTML;
        const countSources = document.getElementById("statisticTable").rows[6].cells[1].innerHTML;
        const countAppendixes = document.getElementById("statisticTable").rows[7].cells[1].innerHTML;
        const abstractUARow = document.getElementById("statisticTable").rows[8].cells[1].innerHTML;
        const abstractENRow = document.getElementById("statisticTable").rows[9].cells[1].innerHTML;

        //Дані про локаль Ворда та локаль файлу зчитуються з комбобоксів
        // const docLocaleCell = document.getElementById("docLocaleCode");
        // const localeDocCode = docLocaleCell ? docLocaleCell.textContent.trim() : null;
        // const wordLocaleCell = document.getElementById("wordLocaleCode");
        // const localeWordCode = docLocaleCell ? wordLocaleCell.textContent.trim() : null;

        checkForm.addEventListener("submit", function (event) {
            if (!fileForCheck || !localeDocCode || !localeWordCode) {
                let warningMessage = /*[[#{errorspage.alert.choose_all}]]*/ 'Please select all fields';
                alert(warningMessage);
                event.preventDefault(); // ⬅️ Это блокирует переход
                return false;
            }

            // Додаємо значення з першої форми у вигляді прихованих полів
            const hiddenFilename = document.createElement("input");
            hiddenFilename.type = "hidden";
            hiddenFilename.name = "fileForCheck";
            hiddenFilename.value = fileForCheck;

            const hiddenLocaleWord = document.createElement("input");
            hiddenLocaleWord.type = "hidden";
            hiddenLocaleWord.name = "localeWord";
            hiddenLocaleWord.value = localeWordCode;
            // hiddenLocaleWord.value = localeWordCode.value;

            const hiddenLocaleDoc = document.createElement("input");
            hiddenLocaleDoc.type = "hidden";
            hiddenLocaleDoc.name = "localeDoc";
            hiddenLocaleDoc.value = localeDocCode;
            // hiddenLocaleDoc.value = localeDocCode.value;

            const hiddenCountPages = document.createElement("input");
            hiddenCountPages.type = "hidden";
            hiddenCountPages.name = "countPages";
            hiddenCountPages.value = countPages;

            const hiddenCountFigures = document.createElement("input");
            hiddenCountFigures.type = "hidden";
            hiddenCountFigures.name = "countFigures";
            hiddenCountFigures.value = countFigures;

            const hiddenCountTables = document.createElement("input");
            hiddenCountTables.type = "hidden";
            hiddenCountTables.name = "countTables";
            hiddenCountTables.value = countTables;

            const hiddenCountSources = document.createElement("input");
            hiddenCountSources.type = "hidden";
            hiddenCountSources.name = "countSources";
            hiddenCountSources.value = countSources;

            const hiddenCountAppendixes = document.createElement("input");
            hiddenCountAppendixes.type = "hidden";
            hiddenCountAppendixes.name = "countAppendixes";
            hiddenCountAppendixes.value = countAppendixes;

            const hiddenAbstractUARow = document.createElement("input");
            hiddenAbstractUARow.type = "hidden";
            hiddenAbstractUARow.name = "abstractUA";
            hiddenAbstractUARow.value = abstractUARow;

            const hiddenAbstractENRow = document.createElement("input");
            hiddenAbstractENRow.type = "hidden";
            hiddenAbstractENRow.name = "abstractEN";
            hiddenAbstractENRow.value = abstractENRow;

            checkForm.appendChild(hiddenFilename);
            checkForm.appendChild(hiddenLocaleDoc);
            checkForm.appendChild(hiddenLocaleWord);
            checkForm.appendChild(hiddenCountPages);
            checkForm.appendChild(hiddenCountFigures);
            checkForm.appendChild(hiddenCountTables);
            checkForm.appendChild(hiddenCountSources);
            checkForm.appendChild(hiddenCountAppendixes);
            checkForm.appendChild(hiddenAbstractUARow);
            checkForm.appendChild(hiddenAbstractENRow);
        });

        //Скидання значень у таблиці при виборі нового файлу
        document.getElementById("file").addEventListener("change", function () {
            clearSecondCells("statisticTable");
        });
    });

    function clearSecondCells(tableId) {
        const table = document.getElementById(tableId);
        if (!table) return;

        for (let i = 0; i < table.rows.length; i++) {
            const cells = table.rows[i].cells;
            if (cells.length > 1) {
                cells[1].textContent = '';
            }
        }
    }
</script>
</body>

</html>